<div id="table">
  <div class="search-div">
    <mat-form-field floatLabel="never">
      <input
        matInput
        type="text"
        [(ngModel)]="searchKey"
        placeholder="Filter"
        autocomplete="off"
        (keyup)="applyFilter()"
      />
      <button
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        *ngIf="searchKey"
        (click)="onSearchClear()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="master-table">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="userId">
        <mat-header-cell *matHeaderCellDef> UserID</mat-header-cell>
        <mat-cell class="post-user-id" *matCellDef="let post">{{
          post.userId
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID</mat-header-cell>
        <mat-cell class="post-id" *matCellDef="let post">{{
          post.id
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
        <mat-cell class="post-title" *matCellDef="let post">{{
          post.title
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="body">
        <mat-header-cell *matHeaderCellDef> Body</mat-header-cell>
        <mat-cell class="post-body" *matCellDef="let post">{{
          post.body
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button class="info-button" mat-icon-button>
            <mat-icon>remove_red_eye</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        (click)="getRecord(row); showHideTable()"
        *matRowDef="let row; columns: displayedColumns"
      ></mat-row>
    </mat-table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>

<div class="hide-page" (click)="showHideTable()" *ngIf="displayDetail"></div>

<div class="center">
  <div class="detail-render transition-slow" *ngIf="displayDetail">
    <table id="detail-table">
      <tr>
        <th id="col">UserID</th>
        <th>{{ detailUserId }}</th>
      </tr>
      <tr>
        <th id="col">ID</th>
        <th>{{ detailId }}</th>
      </tr>
      <tr>
        <th id="col">Title</th>
        <th>
          <p>{{ detailTitle }}</p>
        </th>
      </tr>
      <tr>
        <th id="col">Body</th>
        <th>
          <p>{{ detailBody }}</p>
        </th>
      </tr>
    </table>
    <button class="info-button" (click)="showHideTable()">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
  </div>
</div>
