/* Filter */
.mat-form-field {
  color: white;
}

/* Table */
.mat-table {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  overflow: hidden !important;
}

.mat-row {
  transition: 0.5s;
}

.mat-row:hover {
  background-color: #505050;
  cursor: pointer;
}

.mat-cell,
.mat-header-cell {
  padding: 1%;
  display: inline-block;
  min-height: 5px;
  max-height: 30px;
}

.mat-cell {
  overflow: auto;
  text-transform: capitalize;
}

.mat-header-cell {
  font-size: 15px;
  font-weight: bold;
}

.mat-column-body {
  flex: 0 0 45%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-userId,
.mat-column-id {
  text-align: center;
  flex: 0 0 5%;
  justify-content: center;
}

.mat-column-title {
  flex: 0 0 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-actions {
  flex: 0 0 5%;
  justify-content: right;
  margin-top: -15px;
  overflow: hidden;
  right: 0;
}

.info-button {
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-style: none;
  height: 0.1px !important;
  width: 0.1px !important;
  font-size: 0.1px !important;
  transition: 0.2s;
}

.info-button:hover {
  color: #43c59e;
  transform: scale(1.1);
  cursor: pointer;
}

/* Paginator */
.mat-paginator {
  margin-top: 1.5%;
  border-radius: 7px;
  overflow: hidden !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: #43c59e !important;
}

::ng-deep.mat-form-field-underline {
  background-color: #43c59e !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: #43c59e !important;
}

/* Detail */
.detail-render {
  background-color: #424242;
  height: auto;
  width: 500px;
  border-radius: 7px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  column-width: auto;
  color: white;
}

#col {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-right: 20px;
  font-weight: bold;
}

th {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}

table {
  padding: 2%;
  text-align: center;
}

.hide-page {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.452);
}

.center {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.transition-slow {
  transition: 0.5s;
}

/* MAT Elements styles */
::ng-deep .mat-select-value {
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
}

::ng-deep .mat-select-arrow {
  color: #ffffff;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #43c59e;
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #43c59e;
}

:host ::ng-deep.mat-paginator .mat-select-arrow {
  border-left: 5px solid transparent !important;
  border-right: 5px solid transparent !important;
}
