h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: #43c59e;
}

.main-container {
  width: 90%;
  height: 50%;
  margin: 0 auto;
  margin-top: 10%;
}

user-data-table {
  height: auto;
}
