/* You can add global styles to this file, and also import other style files */

html,
body {
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #0f0f0f;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cfcfcfb0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #43c59e;
  border-radius: 10px;
}
